:root {font-family: monospace; white-space: pre-wrap; margin: 10px; max-width: 70ch; background-color: var(--bg); color: var(--text); --text: #000; --bg: #fff;} 
@media (prefers-color-scheme: dark) { :root { --text: #fff; --bg: #000;}
