:root {font-family: monospace; white-space: pre-wrap; margin: 10px; background-color: var(--bg); color: var(--text); --text: #1e1e1e; --bg: #fff;} 

body {max-width: 70ch;}

@media (prefers-color-scheme: dark) { :root { --text: #fff; --bg: #1e1e1e;}
